# Compiled files
*.o
*.out
*.exe
*.so

# Build folders
/build/
/data_output/
/data_input/
CMakeFiles/
CMakeCache.txt
Makefile

# IDE files
.vscode/
.idea/
*.swp

# Other code files
*.sh

# Certain data files
*.csv
*.json
